@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body .Page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .Page .Header {
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: pass;
      -ms-flex-pack: pass;
          justify-content: pass;
  padding: 20px 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .Page .Header .Logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 50px;
  width: 50px;
  height: 50px;
}

body .Page .Header .MenuBar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 650;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 15px 10px;
  min-width: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}

body .Page .Header .MenuBar.AboutMe {
  margin-right: 20px;
}

body .Page .Header .MenuBar.AboutMe:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #e6e6e6;
  color: black;
}

body .Page .Header .MenuBar.Projects:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #e6e6e6;
  color: black;
}

body .Page .Header .Toggle-Fullscreen {
  margin-left: auto;
  height: 50px;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .Page .Header .Toggle-Fullscreen .Expand {
  width: 50px;
  height: 50px;
}

body .Page .Main {
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .Page .Main .About-Me-Text {
  margin-left: 60px;
  margin-top: 50px;
}

body .Page .Main .About-Me-Text h1 {
  vertical-align: top;
  font-size: 75px;
  font-family: "Quicksand", sans-serif;
  font-weight: 650;
  color: white;
}

body .Page .Main .About-Me-Text p {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 650;
  color: white;
}

body .Page .Main .Picture-of-me {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 50px;
  width: 400px;
  height: 400px;
}

body .Page .Footer {
  padding: 10px 10px 10px 10px;
  background-color: black;
}

body .Page .Footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .Page .Footer div .Icons {
  background-color: inherit;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body .Page .Footer div .LinkedInLogo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px;
  height: 50px;
}

body .Page .Footer div .LinkedInLogo:hover {
  cursor: pointer;
}

body .Page .Footer div .GithubLogo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 50%;
}

body .Page .Footer div .GithubLogo:hover {
  cursor: pointer;
}

body .Page .Footer div .ThingiverseLogo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body .Page .Footer div .ThingiverseLogo:hover {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .Main {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .About-Me-Text {
    margin: 30px 0 0 0 !important;
  }
}

@media screen and (max-width: 590px) {
  .Main {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .About-Me-Text {
    margin: 30px 0 0 0 !important;
  }
  .Picture-of-me {
    width: 200px !important;
    height: 200px !important;
  }
  .Header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .Header .MenuBar {
    width: 100% !important;
    margin: 0 0 10px 0 !important;
  }
  .Header .Logo {
    margin: 0 0 20px 0 !important;
  }
  .Header .Toggle-Fullscreen {
    margin: 10px 0 0 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */