@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
    margin: 0; padding: 0;
}

html {
    scroll-behavior: smooth;

    body {
        height: 100%;

        
        .Page{
            display: flex;
            flex-direction: column;
            height: 100%;

            .Header{
                background-color: rgb(26, 26, 26);
                padding: 1em;
                height: 100%;

                .Header_container {
                    height: 3.5em;
                    display: flex;
                    align-items: center;
                    animation: header_fadein 1.5s forwards ease-out;
                    
                    .My_Logo {
                        user-select: none;
                        margin-right: 2.5em;
                        width: 4em;
                        height: 4em;
                    }
                    .MenuBar {
                        user-select: none;
                        text-align: center;
                        text-decoration: none;
                        font-family: "Quicksand", sans-serif;
                        color: white;
                        font-weight: 600;
                        font-size: 1.3em;
                        background-color: rgba(0, 0, 0, 0.863);
                        padding: 0.6em 0.6em;
                        min-width: 5em;
                        border-radius: 0.4em;
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        overflow:visible;
                        -webkit-tap-highlight-color: transparent;
                        transition: 0.3s ease-out;
                        
                        &:hover {
                            transition: all 0.3s ease-out;
                            background-color: rgb(230, 230, 230);
                            color: black;
                            animation: scale_up 0.3s forwards ease-in;  
                        }
                        &.AboutMe {
                            margin-right: 1em;

                        }
                    }
                    .Toggle-Fullscreen {
                        margin-left: auto;
                        border-radius: 0.5em;
                        width: 4em;
                        height: 4em;
                        background-color: yellow;
                        color: black;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        user-select: none;
                        -webkit-tap-highlight-color: transparent;
                        //Removes Blue Highlight from chrome mobile button
                        justify-content: center;
                        &:hover {
                            animation: scale_up 0.3s forwards ease-in;
                        }
                        
                        .Expand {
                            width: 100%;
                            height: 100%;
                            padding: auto;
                        }
                    }
                }
            }
            
            .Main{
                background-color: rgb(61, 61, 61);
                padding: 3em;
                height: 100%;
                
                .Homescreen {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    height: 100%;

                    .About-Me-Text {
                        // animation: body_fadein 1s forwards ease-out;  
                        h1 {
                            vertical-align: top;
                            font-size: 5em;
                            font-family: "Quicksand", sans-serif;
                            font-weight: 650;
                            color: white;

                        }
                        p {
                            font-size: 1em;
                            font-family: "Quicksand", sans-serif;
                            font-weight: 650;
                            color: white;
                        }
                    }
                    .Picture-of-me {
                        // animation: body_fadein 1s forwards ease-out;
                        user-select: none;
                        width: 25em;
                        height: 25em;
                        border-radius: 1em;
                    }
                }
                .Projects_screen {
                    display: flex;
                    flex-direction: column; 
                    justify-content: center;
                    align-items: center;
                    
                    .Project {
                        
                        h1 {
                            vertical-align: top;
                            font-size: 4em;
                            font-family: "Quicksand", sans-serif;
                            font-weight: 600;
                            color: white;
                            margin-bottom: 0.5em;
                            text-align: center;
                        }
                        p {
                            font-size: 1em;
                            font-family: "Quicksand", sans-serif;
                            font-weight: 500;
                            color: white;
                            text-align: center;
                            margin-bottom: 2em;
                        }
                        .Project_img {
                            user-select: none;
                            width: 50em;
                            height: 25em;
                            margin-bottom: 1em;
                            border-radius: 1em;
                        }
                    }
                }
            }

            .Footer{
                height: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 10px 10px 10px;
                background-color: rgb(26, 26, 26);
                
                .Icons_holder{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: footer_fadein 1.5s forwards  ease-out;
                    
                    .Icons {
                        background-color: inherit;
                        border: none;
                        outline: none;
                        -webkit-tap-highlight-color: transparent;
                        
                        &.Round {
                            border-radius: 50%;
                        }
                        .Logo {
                            user-select: none;
                            width: 3em;
                            height: 3em;
                            &:hover {
                                cursor: pointer;
                                animation: scale_up 0.3s forwards ease-in;                   
                            }
                        
                        
                            &.Github {
                                margin: 0 2em;
                                                        
                            }
                        }
                    }
                }
            }
        }    
    }
}

@media screen and (max-width: 950px) {

    .Homescreen {
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
        .About-Me-Text {
            text-align: center;
            p {
            margin-bottom: 3em;  
            }
        }
    }
    .Projects_screen {
        
        .Project {
            
            .Project_img {
                object-fit: contain !important;
                max-width: 100% !important;
                max-height: 90% !important;
                width: auto !important;
                height: auto !important;
                margin-bottom: 2em !important;
            }
        }
    }
}
@media screen and (max-width: 540px) {

    .Header {
        .Header_container {
            height: auto !important;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            
            .MenuBar {
                margin: 0 !important;
                width: 90% !important;
                margin-bottom: 0.5em !important;
                &.Projects {
                    margin-bottom: 1em !important;
                }
            }
            
            .My_Logo {
                margin: 0 !important;
                height: 3em !important;
                width: 3em !important;
                margin-bottom: 1em !important;
            }
            
            .Toggle-Fullscreen {
                margin: 0 !important;
                margin-bottom: 1em !important;
            }
        }
    }
    .Main {
        padding: 1em !important;

        .Homescreen {
            
            .About-Me-Text {
                h1 {
                    font-size: 3em !important;
                }
                p{
                    margin-bottom: 2em !important;
                }
            }

            .Picture-of-me {
                object-fit: contain !important;
                max-width: 90% !important;
                max-height: 90% !important;
                width: auto !important;
                height: auto !important;
                margin-bottom: 2em;
            }
        }
        .Projects_screen {
            margin-left: 1em;
            margin-right: 1em;
        
            .Project {
                
                h1 {
                    font-size: 2em !important;
                }
                &.one {
                    h1 {
                        margin-top: 1em;
                    }
                }
                .Project_img {
                    object-fit: contain !important;
                    max-width: 100% !important;
                    max-height: 90% !important;
                    width: auto !important;
                    height: auto !important;
                    margin-bottom: 2em !important;
                }
            }
        }
    }
    .Footer {
        height: 3em !important;
        .Logo {
            height: 3em !important;
            width: 3em !important;
        }
    }
}

@keyframes header_fadein {
0% {
    transform: translateY(-20%);
    opacity: 0;
    }
100% {
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes footer_fadein {
    0% {
        transform: translateY(20%);
        opacity: 0;
        }
    100% {
        transform: translateY(0);
        opacity: 1;
        }
}
@keyframes body_fadein {
    0% {
        transform: scale(0.98);
        opacity: 1;
        }
    100% {
        transform: scale(1);
        opacity: 1;
        }
}
@keyframes scale_up {
    0% {
        transform: scale(1);
        }
    100% {
        transform: scale(1.08);
        }  
}