@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  margin: 0;
  padding: 0;
}

* ::-moz-selection {
  background: rgba(76, 0, 255, 0.8);
  color: white;
}

* ::selection {
  background: rgba(76, 0, 255, 0.8);
  color: white;
}

html {
  scroll-behavior: smooth;
}

html body .Page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html body .Page .Header {
  background-image: linear-gradient(135deg, #3a0da3, #002f94, #052c74);
  padding: 1em;
}

html body .Page .Header .Header_container {
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: header_fadein 1.5s forwards ease-out;
          animation: header_fadein 1.5s forwards ease-out;
}

html body .Page .Header .Header_container .My_Logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 2.5em;
  width: 4em;
  height: 4em;
}

html body .Page .Header .Header_container .MenuBar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), color-stop(50%, rgba(0, 0, 25, 0.3)), to(rgba(0, 0, 50, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 25, 0.3) 50%, rgba(0, 0, 50, 0.3) 100%);
  padding: 0.6em 0.6em;
  min-width: 5em;
  border-radius: 0.4em;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

html body .Page .Header .Header_container .MenuBar:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: rgba(255, 255, 255, 0.8) !important;
  color: black;
  -webkit-animation: scale_up 0.3s forwards ease-in;
          animation: scale_up 0.3s forwards ease-in;
}

html body .Page .Header .Header_container .MenuBar:hover:active {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

html body .Page .Header .Header_container .MenuBar.AboutMe {
  margin-right: 1em;
}

html body .Page .Main {
  padding: 3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body .Page .Main .Homescreen {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

html body .Page .Main .Homescreen .About-Me-Text {
  padding: 1em;
  background: linear-gradient(45deg, rgba(0, 1, 60, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 1em;
  -webkit-animation: body_fadein 1.5s forwards ease-out;
          animation: body_fadein 1.5s forwards ease-out;
}

html body .Page .Main .Homescreen .About-Me-Text h1 {
  vertical-align: top;
  font-size: 5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 0.1em;
}

html body .Page .Main .Homescreen .About-Me-Text p {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  color: white;
}

html body .Page .Main .Projects_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .Page .Main .Projects_screen .Nav_Projects {
  border-radius: 1em;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0.4em 1.2em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

html body .Page .Main .Projects_screen .Nav_Projects .Project_Button {
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0.6em 0.6em;
  min-width: 10em;
  min-height: 1em;
  border-radius: 0.4em;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

html body .Page .Main .Projects_screen .Nav_Projects .Project_Button.two {
  margin: 0 2em;
}

html body .Page .Main .Projects_screen .Nav_Projects .Project_Button:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 10, 124, 0.9)), color-stop(rgba(0, 47, 148, 0.9)), to(rgba(5, 44, 116, 0.9)));
  background-image: linear-gradient(0deg, rgba(27, 10, 124, 0.9), rgba(0, 47, 148, 0.9), rgba(5, 44, 116, 0.9));
  color: black;
  -webkit-animation: scale_up 0.3s forwards ease-in;
          animation: scale_up 0.3s forwards ease-in;
  color: #e6e6e6;
}

html body .Page .Main .Projects_screen .Project {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 1em;
  margin-bottom: 5em;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

html body .Page .Main .Projects_screen .Project.one {
  margin-top: 3em;
}

html body .Page .Main .Projects_screen .Project h1 {
  vertical-align: top;
  font-size: 4em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
  margin-bottom: 0.5em;
  text-align: center;
}

html body .Page .Main .Projects_screen .Project p {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

html body .Page .Main .Projects_screen .Project .Project_img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

html body .Page .Main .Projects_screen .Project .Link_to_code {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  background-color: #00a100;
  padding: 0.6em 0.6em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin: 1em;
}

html body .Page .Main .Projects_screen .Project .Link_to_code:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #00da00;
  color: black;
  font-weight: 700;
  -webkit-animation: go_to_code_scale 0.3s forwards ease-in;
          animation: go_to_code_scale 0.3s forwards ease-in;
}

html body .Page .Footer {
  height: 3em;
  background: radial-gradient(circle, #0f0f0f 0%, black 100%);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .Page .Footer .Filler_Content {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  visibility: hidden;
}

html body .Page .Footer .Icons_holder {
  -webkit-animation: footer_fadein 1.5s forwards  ease-out;
          animation: footer_fadein 1.5s forwards  ease-out;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .Page .Footer .Icons_holder .Icons {
  background-color: inherit;
  border: none;
  -webkit-tap-highlight-color: transparent;
  height: 3em;
}

html body .Page .Footer .Icons_holder .Icons.Round {
  border-radius: 50%;
}

html body .Page .Footer .Icons_holder .Icons .Logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3em;
  height: 3em;
}

html body .Page .Footer .Icons_holder .Icons .Logo:hover {
  cursor: pointer;
  -webkit-animation: scale_up 0.3s forwards ease-in;
          animation: scale_up 0.3s forwards ease-in;
}

html body .Page .Footer .Icons_holder .Icons .Logo.Github {
  margin: 0 2em;
}

html body .Page .Footer .Copyright_Tag {
  color: white;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  margin-left: 1em;
}

@media screen and (max-width: 950px) {
  .Main {
    background-position: center center !important;
  }
  .Main .Homescreen {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .Main .Homescreen .About-Me-Text {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 1, 60, 0.8)), to(rgba(0, 0, 0, 0.3))) !important;
    background: linear-gradient(180deg, rgba(0, 1, 60, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
    text-align: center;
  }
  .Main .Homescreen .About-Me-Text p {
    margin-bottom: 3em;
  }
  .Main .Projects_screen .Project_Button {
    min-width: 5em !important;
  }
  .Main .Projects_screen .Project .Project_img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    max-width: 100% !important;
    max-height: 90% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 2em !important;
  }
}

@media screen and (max-width: 540px) {
  .Header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21075e), color-stop(#002f94), to(#052c74)) !important;
    background-image: linear-gradient(180deg, #21075e, #002f94, #052c74) !important;
  }
  .Header .Header_container {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Header .Header_container .MenuBar {
    margin: 0 !important;
    width: 90% !important;
    margin-bottom: 0.5em !important;
  }
  .Header .Header_container .MenuBar.Projects {
    margin-bottom: 1em !important;
  }
  .Header .Header_container .My_Logo {
    margin: 0 !important;
    height: 3em !important;
    width: 3em !important;
    margin-bottom: 1em !important;
  }
  .Main {
    padding: 1em !important;
    background-size: 200% auto !important;
  }
  .Main .Homescreen .About-Me-Text {
    margin-top: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 1, 60, 0.8)), to(rgba(0, 0, 0, 0.3))) !important;
    background: linear-gradient(180deg, rgba(0, 1, 60, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
  }
  .Main .Homescreen .About-Me-Text h1 {
    font-size: 3em !important;
  }
  .Main .Homescreen .About-Me-Text p {
    margin-bottom: 2em !important;
  }
  .Main .Homescreen .Picture-of-me {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    max-width: 90% !important;
    max-height: 90% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 2em;
  }
  .Main .Projects_screen {
    margin: 0 1em;
  }
  .Main .Projects_screen .Nav_Projects {
    margin-top: 1em;
  }
  .Main .Projects_screen .Nav_Projects .Project_Button {
    min-width: 2em !important;
    font-size: 1em !important;
  }
  .Main .Projects_screen .Nav_Projects .Project_Button.two {
    margin: 0 0.5em !important;
  }
  .Main .Projects_screen .Project h1 {
    font-size: 2em !important;
  }
  .Main .Projects_screen .Project.one {
    margin-top: 3em;
  }
  .Main .Projects_screen .Project .Project_img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    max-width: 100% !important;
    max-height: 90% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 2em !important;
  }
  .Footer {
    height: auto !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .Footer .Copyright_Tag {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    margin-top: 1em !important;
  }
  .Footer .Logo {
    height: 3em !important;
    width: 3em !important;
  }
}

@-webkit-keyframes header_fadein {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes header_fadein {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes footer_fadein {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes footer_fadein {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes body_fadein {
  0% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes body_fadein {
  0% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale_up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@keyframes scale_up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@-webkit-keyframes go_to_code_scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes go_to_code_scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}
/*# sourceMappingURL=main.css.map */