@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
    margin: 0; padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {

    .Page{
        display: flex;
        flex-direction: column;

        .Header{
            background-color: rgb(26, 26, 26);
            display: flex;
            justify-content: pass;
            padding: 20px 20px 20px 20px;
            align-items: center;
            
            .Logo {
                user-select: none;
                margin-right: 50px;
                width: 50px;
                height: 50px;
            }
            .MenuBar {
                user-select: none;
                text-align: center;
                text-decoration: none;
                font-family: "Quicksand", sans-serif;
                color: white;
                font-weight: 650;
                font-size: 18px;
                background-color: rgba(0, 0, 0, 0.863);
                padding: 15px 10px;
                min-width: 150px;
                border-radius: 12px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                overflow:visible;
                -webkit-tap-highlight-color: transparent;
                
                &.AboutMe {
                    margin-right: 20px;
                    &:hover {
                    transition: all 0.3s ease-out;
                    background-color: rgb(230, 230, 230);
                    color: black;  
                    }
                }
                &.Projects {
                    &:hover {
                    transition: all 0.3s ease-out;
                    background-color: rgb(230, 230, 230);
                    color: black;   
                    }
                }
            }
            .Toggle-Fullscreen {
                margin-left: auto;
                height: 50px;
                border-radius: 5px;
                background-color: yellow;
                color: black;
                outline: none;
                border: none;
                cursor: pointer;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                //Removes Blue Highlight from chrome mobile button
                justify-content: center;
                
                
                .Expand {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        
        .Main{
            background-color: rgb(61, 61, 61);
            display: flex;
            justify-content: space-between;

            .About-Me-Text {
                margin-left: 60px;
                margin-top: 50px;    
                h1 {
                    vertical-align: top;
                    font-size: 75px;
                    font-family: "Quicksand", sans-serif;
                    font-weight: 650;
                    color: white;

                }
                p {
                    font-size: 25px;
                    font-family: "Quicksand", sans-serif;
                    font-weight: 650;
                    color: white;
                }
            }
            .Picture-of-me {
                user-select: none;
                margin: 50px;
                width: 400px;
                height: 400px;
            }
        }

        .Footer{
            padding: 10px 10px 10px 10px;
            background-color: rgb(0, 0, 0);
            div{
                display: flex;
                justify-content: center;
                .Icons {
                    background-color: inherit;
                    border: none;
                    outline: none;
                    -webkit-tap-highlight-color: transparent;
                }
                .LinkedInLogo {
                    user-select: none;
                    width: 50px;
                    height: 50px;
                    &:hover {
                        cursor: pointer;                    
                    }
                }
                .GithubLogo {
                    user-select: none;
                    width: 50px;
                    height: 50px;
                    margin: 0 20px;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                                            
                    }
                }
                .ThingiverseLogo {
                    user-select: none;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: 950px) {
    .Main {
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .About-Me-Text {
        margin: 30px 0 0 0 !important;
    }
}
@media screen and (max-width: 590px) {
    .Main {
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
    }
        .About-Me-Text {
            margin: 30px 0 0 0 !important;
        }
        .Picture-of-me {
        width: 200px !important;
        height: 200px !important;
        }
    
    .Header {
        flex-direction: column !important;
        .MenuBar {
            width: 100% !important;
            margin: 0 0 10px 0 !important;
        }
        .Logo {
            margin: 0 0 20px 0 !important;
        }
        .Toggle-Fullscreen {
            margin: 10px 0 0 0 !important;
        }
    }
}